:root {
  background-color: #3A86FF;
  --primary-color: #FFbe0b;
  --secondary-color: #fb5607;
  --tertiary-color: #ff006e;
  --quintary-color: #8338ec;
}

h2 {
  font-size: 6rem;
  margin-bottom: 3rem;
  border: .35rem solid black;
  border-radius: .5rem;
  background-color: var(--tertiary-color);
  /* add drop shadow */
}

.choices {
  display: flex;
  width: 60%;
  font-size: 3.5rem;
  margin-bottom: 1rem;
  background-color: var(--quintary-color);
  border: .2rem solid rgba(0, 0, 0, .4);
}

.choices:hover {
  box-shadow: 0 0.8rem 1.8rem 0 rgba(0, 0, 0, .4);
}

/* add hover styling */